--find-links https://mirrors.aliyun.com/pytorch-wheels/cu118
fastapi==0.123.0
uvicorn==0.38.0
websockets==15.0.1
funasr==1.2.7
numpy==1.26
librosa==0.11.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
webrtcvad==2.0.10